.container {
  width: 187.5;
  height: 160;
  justify-content: center;
  align-items: center;
}

.appName {
  font-size: 20;
  color: #ffffff;
}

.appicon {
  width: 96;
  height: 96;
  margin-bottom: 8;
}