.container {
  width: 124;
  height: 142;
  margin-bottom: 24;
  justify-content: center;
  align-items: center;
}

.appName {
  font-size: 18;
  color: #ffffff;
  text-overflow: ellipsis;
}

.appicon {
  width: 80;
  height: 80;
  margin-bottom: 8;
}

.transparentBG {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}

.menuContainer {
  width: 300;
  height: 100;
  background-color: #ffffff;
  position: fixed;
  border-radius: 10;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuItem {
  height: 100;
  padding-left: 20;
  padding-right: 20;
  justify-content: center;
}