.container {
  /* background-color: indianred; */
  /* position: absolute; */
  flex: 0;
  width: 750;
}

.appGroup {
  width: 750;
}

.groupTitle {
  color: #ffffff;
  font-size: 42;
  position: absolute;
  top: 36;
  left: 36;
}

.appItemContainer {
  width: 630;
  margin-left: 80;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}