.container {
  background-color: red;
  width: 300;
  height: 300;
}

.appItemContainer {
  width: 750;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: green;
}