.bottomBar {
  background-color: #222;
  width: 80;
  height: 80;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: -2;
  left: 0;
}

.buttonContainer {
  /* width: 374; */
  width: 80;
  height: 80;
  display: flex;
  justify-content: center;
}

.image {
  width: 64;
  height: 64;
}

.buttonText {
  font-size: 18;
  color: white;
  text-align: center;
}