.container {
  flex:1;
}

.image {
	width:60;
  height:60;
}

.text {
	color: #ffffff;
  font-size: 30;
}

.btn {
	width:120;
  height:120;
  /* background-color:'#ff0000'; */
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 60;
  bottom: 60;
  left: 60;
}
