.container {
  background-color: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  /* bottom: 60; */
  /* left: 24; */
  margin: 24;
  margin-bottom: 24;
  border-radius: 24;
}

.titleBar {
  margin: 24;
  /* background-color: green; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 24;
}

.refreshIcon {
  width: 32;
  height: 32;
}

.appItemContainer {
  width: 712;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}